{% for i in imagedecod %}
<img src="data:;base64,{{i}}">
{% endfor %}

 <div>
    <p>Outfit 1</p>
<img src="data:;base64,{{imagedecod[0]}}">
<img src="data:;base64,{{imagedecod[5]}}">

</div>


<div>
        <p>Outfit 1</p>
    <img src="data:;base64,{{imagedecod[1]}}">
    <img src="data:;base64,{{imagedecod[6]}}">
    
    </div>

    <div>
            <p>Outfit 2</p>
        <img src="data:;base64,{{imagedecod[2]}}">
        <img src="data:;base64,{{imagedecod[7]}}">
        
        </div>
        <div>
                <p>Outfit 3</p>
            <img src="data:;base64,{{imagedecod[3]}}">
            <img src="data:;base64,{{imagedecod[8]}}">
            
            </div>  
            
            <div>
                    <p>Outfit 4</p>
                <img src="data:;base64,{{imagedecod[4]}}">
                <img src="data:;base64,{{imagedecod[9]}}">
                
                </div>     